.rotar {
  border: 1px solid #dfdfdf;
  position: absolute;
  margin: 0;
  rotate: 90;
  /*transform: rotate(90deg)*/
}

img {
  width: 16.5cm;
  height: 7cm;
  display: none;
}

.cheque {
  left: 6.25cm;
  top: 0mm;
  width: 16.5cm;
  height: 7cm;
}

.fecha:hover {
  cursor: pointer;
}

.monto:hover {
  cursor: pointer;
}

.beneficiario:hover {
  cursor: pointer;
}

.monto_letra:hover {
  cursor: pointer;
}
