* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
}

div {
  display: flex;
}

#vista_cheque {
  width: 70%;
  height: 625px;
  background-color: #525659;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

#vista_css {
  width: 30%;
  height: 625px;
}

.editor {
  width: 100%;
  height: 100%;
  border: 3px solid black;
}

.hoja {
  width: 21.5cm;
  height: 85%;
  margin: 30px 0;
  background-color: white;
}
