* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
}

div {
  display: flex;
}

#vista_cheque {
  width: 85%;
  height: 800px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

/*#botones {
  width: 25%;
  height: 625px;
}*/

#vista_css {
  width: 15%;
  height: 800px;
}

.editor {
  width: 100%;
  height: 100%;
  border: 3px solid black;
}

.hoja {
  width: 21.5cm;
  height: 85%;
  margin: 30px 0;
  background-color: white;
}

div#botones {
  top: 10px;
  left: 10px;
  position: absolute;
}

/*.fila-botones {
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}*/

.rotar {
  justify-content: center;
  align-items: center;
}

#descargar {
  flex-wrap: wrap;
}
